* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.9px;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to left bottom,
    #6bd18c,
    #00cdb3,
    #00c6da,
    #00b9f6,
    #1da7ff,
    #7d9afb,
    #b389e9,
    #d879cd,
    #f072b3,
    #fe7196,
    #ff777a,
    #fb835f
  );
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

input[type="text"] {
  outline: none;
  text-decoration: none;
  padding: 25px;
  font-size: 18px;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
  caret-color: blue;
}

input[type="text"]:focus {
  border: 1px solid #007bff;
}

input[type="text"]::placeholder {
  color: #999;
  text-decoration: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 45px;
  width: 40%;
  padding: 20px;
}

button:hover {
  background-color: #0056b3;
}

#qrCodeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#qrCode {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  opacity: 0;
  transform: scale(0.8);
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
